body{
    background: url("WallPaper.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    color: wheat;
}
.v{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.w{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
button{
    height: 100%;
    width: 30%;
    border-radius: 20px !important;
    color: white;
    font-size: 300%;
    border: 3px solid rgb(112, 0, 0);
    transition: all 900ms;
    margin: 2%;
    background-color: rgb(112, 0, 0);
}
button::before{
    height: 0%;
}
button:hover{
    background-color: rgba(211, 180, 0, 0);
    border: 3px solid rgb(0, 4, 255);
}